---
import "../styles/global.css";

const pageTitle = "about me";
import BaseLayout from "../layouts/BaseLayout.astro";

const identity = {
    firstName: "Sarah",
    country: "Canada",
    occupation: "Technical Writer",
    hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillcolor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style define:vars={{skillcolor, fontWeight, textCase}}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
      color: var(--skillcolor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
  }
</style>

<BaseLayout pageTitle="About me">
    <h1>{pageTitle}</h1>
    <h2>... and my new Astro site!</h2>

    <p>Here are a few facts about me:</p>
    {happy && <p>I am happy to be learning Astro!</p>} 
    {finished && <p>I Finished this tutorial!</p>} 
    {goal === 3 ? <p> My goal is to finsih in 3 days.</p> : <p> My goal is not 3 days.</p>}

    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
      {identity.hobbies.length >= 2 &&
        <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}.</li>)}
    </ul>
</BaseLayout>

